.adminNavbar {
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;

    .logo {
        font-size: 20px;
        cursor: pointer;

        a {
            text-decoration: none;
            color: black;
        }
    }

    .rightSide {
        display: flex;
        gap: 20px;
        padding-right: 30px;

        .buttons {
            button{
                border: none;
                border-radius: 5px;
                padding: 10px;
                margin-right: 10px;
            }
            a {
                text-decoration: none;
                color: black;
            }
        }
    }

}