.orders{
    h1{
        text-align: center;
    }
    .titles{
        margin: 20px 0 10px 20px;
        display: grid;
        align-items: center;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        column-gap: 10px;

    }
    .orderItems{
        .orderItem{
            display: grid;
            align-items: center;
            grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
            column-gap: 10px;
            border-top: 1px solid lightgray;
            padding: 10px 0;
            margin: 20px 0 10px 20px;

            button{
                width: max-content;
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                color: white;
                background-color: blue;
            }
        }
    }
}